html { 
  background: url("./../images/growlithe2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background: rgba(76, 175, 80, 0.05);
  width: 100%;
  height: 100%;
}

/* .startB {
  width: 200px;
} */

.bevel {
  box-shadow: 10px 10px 5px grey;
}
.main {
  height: 100%;
}

.pokeImg {
  width: 300px;
  height: auto;
}

.pregame {
  z-index: 5;
}

#silhouette {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
  opacity: 0.6;
}

.region {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.mx-auto {
  width: auto;
  display: block;
}

.answer {
  width: 100px !important;
}

.title {
  width: 100%;
  height: auto;
}

.profOak {
  width: 70%;
  height: 70%;
}

#restartBtn {
  position: fixed;
  top: -60px;
  right: -60px;
}

#restartText {
  position: fixed;
  top: 150px;
  right: 80px;
  color: #FFCE01;
  text-shadow: -1px 0 #356ABD, 0 1px #356ABD, 1px 0 #356ABD, 0 -1px #356ABD;
}
}